@keyframes worldfloat {
  0%,
  100% {
    transform: translateY(-5%);
  }
  50% {
    transform: translateY(5%);
  }
}

@keyframes x-bg-2 {
  0%,
  100% {
    transform: translateX(-5%);
  }
  50% {
    transform: translateX(5%);
  }
}

.wordanimation {
  position: absolute;
  width: 25%;
  right: 0;
  top: -5rem;
  opacity: 0.2;
  -webkit-animation: worldfloat 10s ease 0s infinite normal none;
  animation: worldfloat 10s ease 0s infinite normal none;
}

.gift-absolute {
  position: absolute;
  width: 10%;
  left: 0;
  bottom: 0rem;
  z-index: 99;
}

.-bg-2 {
  position: absolute;
  left: 0;
  top: 40px;
  margin-top: 150px;
  margin-left: -50px;
  width: 30%;
  -webkit-animation: x-bg-2 8s ease infinite;
  animation: x-bg-2 8s ease infinite;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}

.logoutbtn {
  border-radius: 30px;
  border: none;
  padding: 3px 6px;
  background: #d295ff;
  color: #ffffff;
  font-weight: bold;
  transition: 0.3s;
}
